h1 {
  text-align: center;
  color: blue;
  font: 100;
  border-color: green;
  border-width: 5px;
  border-style: solid;
  border-radius: 20%;
  background-color: silver;
}

h2 a:hover {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}
p a:hover {
  color: orange;
}

.eat:hover {
  -webkit-box-shadow: -14px -9px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -14px -9px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -14px -9px 13px 0px rgba(0, 0, 0, 0.75);
}

.catphoto {
  box-shadow: 5px 10px green;
  border-radius: 25px;
  border-style: solid green;
  background-color: silver;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

#catphotoblackandwhite:hover {
  box-shadow: 5px 10px gray;
  border-radius: 200px;
  background: var(--box-colour);
}

ul {
  list-style-type: none;
  font-size: 20px;
  font-family: fantasy;
  position: fixed;
  width: 25vw;
  height: 10vh;
  position: relative;
  background-color: burlywood;
  --box-colour: burlywood;
  padding: 20px 0px 20px 100px;
  margin: 25px;
  margin-left: 150px;
  margin-right: 250px;
}

a {
  text-decoration: none;
}

#for-indoor {
  background-color: grey;
}

#for-outdoor {
  background-color: grey;
}
.type-of-cats {
  background-color: orangered;
  border-radius: 5px;
  background-color: silver;
}

[type="radio"] {
  margin: 20px;
  color: green;
}

[type="checkbox"] {
  margin: 20px 0px 15px 0px;
}

body {
  background-color: offwhite;
}

.d1 {
  background: violet;
}
.d2 {
  background: lightsalmon;
}
.d3 {
  background: lightgreen;
}
.d4 {
  background: lightblue;
}
.d5 {
  background: yellow;
}

.container {
  font-size: 40px;
  width: 100%;
  background: lightgray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  grid-gap: 10px 10px;
  grid-column: 2 / 4;
}

.d5 {
  grid-column: 2 / 4;
  grid-row: 1 / 4;
  /*justify-self: center;*/
}
